.wordSectionContainer {
  background: #219ebc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px; /* don't know where the padding right 40 is coming from */
}

.charCountContainer {
  margin-right: 16px;
}

.wordSection {
  width: 320px;
  height: 100px;
  font-size: 18px;
  font-family: arial;
  resize: none;
  background: #8ecae6;
  margin-top: 8px;
}
