.App {
}

.InnerContent {
  min-height: calc(100vh - 46px - 58px);
  width: 100%;
  background: #f8d69f;
  margin: 0px auto;
}
.footer {
  height: 46px;
  background-color: tan;
}
.footerText {
  padding-top: 8px;
}

@media (min-width: 769px) {
  .InnerContent {
    /*    min-height: 100vh;*/ /* vh=viewport relative - ViewHeight. 1vh = 1%. 100vh = 100%*/
    /* this lets us set min height to subtract hard-coded footer height AND height of solve button */
    min-height: 625;
  }
}
.TitleContainer {
  /* This is the keybit to center vertically - the margin AND text-align*/
  margin: 0px auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-button {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: lightgoldenrodyellow;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
