.App {
  /* min-height: 100vh;
  min-height: -webkit-fill-available; */
  display: flex;
  flex-direction: column;
}

.InnerContent {
  height: 80%;
  background: #f8d69f;
}
.App-button {
  height: 10%;
  background-color: lightgoldenrodyellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 10%;
  background-color: tan;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerText {
  font: bold;
}

@media (min-width: 769px) {
  .InnerContent {
    /*    min-height: 100vh;*/ /* vh=viewport relative - ViewHeight. 1vh = 1%. 100vh = 100%*/
    /* this lets us set min height to subtract hard-coded footer height AND height of solve button */
    /* min-height: 625px; */
    /* min-height: calc(100vh - 20vh - 20vh); */
  }
}
.TitleContainer {
  /* This is the keybit to center vertically - the margin AND text-align*/
  margin: 0px auto;
  text-align: center;
}
.Title {
  /* font-family: "Anton", sans-serif; */
  font-family: "Bangers", cursive;
  font-size: 48px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
